body {
    background-color: white;
}

.rubrik {
    text-align: center;
    color: blue;
    font-size: 2rem;
}

.paragraf {
    text-align: center;
    color: green;
}

.imageholder {
    display: block;
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.bild {
    display: block;
    margin: 0 auto;
}

.button {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}